body {
  font-family: "Open Sans", sans;
  background-color: rgb(250, 250, 250);
  padding: 30px;
  color: rgb(75, 75, 75);
}
b {
  color: black;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

a {
  color: #009bff;
  text-decoration: none;
}
a:hover {
  color: #0079ff;
  text-decoration: none;
}

h1, h2, h3 {
  font-family: "Raleway", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

main {
  margin: 0 auto;
  width: 900px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px rgb(200, 200, 200);
  padding: 2rem;
  background-color: white;
}
header {
  clear: both;
  margin-bottom: 1rem;
}

header > p {
  font-size: 18px;
}

.me {
  width: 100px;
  float: left;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #111;
}

.section {
  clear: both;
}

.headline:before {
  content: '# ';
  font-family: monospace;
  font-size: 14px;
  color: lightgray;
}

.tagline {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.tagline:before {
  content: '? ';
  font-family: monospace;
  font-size: 14px;
  color: lightgray;
}

.logo {
  width: 150px;
  float: right;
  margin: 0.5rem;
}

ul.links {
  list-style: none;
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul.links > li {
  float: left;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0.5rem;
}

ul.projects {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.projects > li:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
ul.projects > li:before {
  content: '~';
  color: lightgray;
}
